:root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}

/* full screen styling  */
.screen {
    background: var(--violet) url(./images/bg-mobile.svg) no-repeat ;
    width: 375px;
    height: min-content;
    padding: 3.6rem;
}

header{
    text-align: start;
    width: 14rem;
}
main{
    margin-top: 4rem;
}

main .image {
    width: 100%;
    margin: 4rem 0;
}
img {
    width: 100%;
}

.about{
    text-align: center;
    margin: 2rem 0;
}

.about h1{
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-family: 'Poppins', sans-serif;
}

.about p{
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 2rem 0;
    color: rgba(255, 255, 255, 0.65);
}
button{
    border: 1px solid white;
    border-radius: 4rem;
    padding: 1rem 8rem;
    color: var(--violet);
    margin-top: 1rem;
    cursor: pointer;
}

button:hover,button:focus{
    background-color: var(--softMagenta);
    color: white;
    border: 1px solid var(--softMagenta);
    box-shadow: 4px 6px 8px -3px rgb(0 0 0 / 33%);
}

footer{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    color: white;
    margin-top: 5rem;
}

i{
    font-size: 1.6rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;

}

i:hover{
    color: var(--softMagenta);
    border: 1px solid var(--softMagenta);

}